@model ClicksAndDrive.Data.Models.Car
@{
    ViewData["Title"] = "Автомобил: " + Model.Made;
}

<div class="car mb-3">
    <div class="row-cols-md-7">
        <img src="~/@Model.ImageUrl.Replace("wwwroot/","")" class="card-img" alt="...">
    </div>
    <div class="bicycle-body">
        <h5 class="car-title text-center">@Model.Made</h5>
        <p class="car-text">Модел: @Model.Model</p>
        <p class="car-text">Места: @Model.Places</p>
        <p class="car-text">Разход на гориво: @Model.FuelConsumption</p>
        <p class="car-text">Двигател: @Model.FuelType</p>
        <p class="car-text">Скоростна кутия: @Model.Transmission</p>
        <p class="car-text">Категория: @Model.Category</p>
        <p class="car-text">Цена на час: @Model.PriceForHour</p>
        <p class="car-text">Описание: @Model.Description</p>
    </div>
    <a asp-action="" asp-route-id="@this.Model.Id" class="btn btn-primary">Наеми</a>
    <a asp-controller="Car" asp-action="Edit" asp-route-id="@this.Model.Id" class="btn btn-primary">Редактирай</a>
    <a asp-action="Delete" asp-route-id="@this.Model.Id" asp-route-type="@this.Model.Category" onclick="return DeleteItem('автомобил')" class="btn btn-danger">Изтрий</a>
</div>
