@model ClicksAndDrive.Data.Models.Car
@{
    ViewData["Title"] = "Автомобил: " + Model.Made;
}

<div class="car mb-3">
    <div class="row-cols-md-7">
        <img src="https://car-images.bauersecure.com/pagefiles/82958/010_508.jpg" class="card-img" alt="...">
    </div>
    <div class="bicycle-body">
        <h5 class="car-title text-center">@Model.Made</h5>
        <p class="car-text">Модел: @Model.Model</p>
        <p class="car-text">Места: @Model.Places</p>
        <p class="car-text">Разход на гориво: @Model.FuelConsumption</p>
        <p class="car-text">Двигател: @Model.FuelType</p>
        <p class="car-text">Скоростна кутия: @Model.Transmission</p>
        <p class="car-text">Категория: @Model.Category</p>
        <p class="car-text">Цена на час: @Model.PriceForHour</p>
        <p class="car-text">Описание: @Model.Description</p>
    </div>
</div>
