@using ClicksAndDrive.Data.Models.Enums
@using ClicksAndDrive.Web.ViewModels.Cars
@model EditCarViewModel
@{
    ViewData["Title"] = "Редактирайте автомобил: " + Model.Made;
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group row">
        <label asp-for="Made" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
            <input asp-for="Made" class="form-control" placeholder="Made" />
            <span asp-validation-for="Made" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Model" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
            <input asp-for="Model" class="form-control" placeholder="Model" />
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="FuelType" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
            <select asp-for="FuelType" class="form-control"
                    asp-items="@Html.GetEnumSelectList<FuelType>()">
            </select>
            <span asp-validation-for="FuelType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Category" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
            <select asp-for="Category" class="form-control"
                    asp-items="@Html.GetEnumSelectList<CarCategory>()">
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Transmission" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
            <select asp-for="Transmission" class="form-control"
                    asp-items="@Html.GetEnumSelectList<TransmissionType>()">
            </select>
            <span asp-validation-for="Transmission" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Places" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
            <select asp-for="Places" class="form-control"
                    asp-items="@Html.GetEnumSelectList<CarPlaces>()">
            </select>
            <span asp-validation-for="Places" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="FuelConsumption" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
            <input asp-for="FuelConsumption" class="form-control" placeholder="FuelConsumption" />
            <span asp-validation-for="FuelConsumption" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PriceForHour" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
            <input asp-for="PriceForHour" class="form-control" placeholder="PriceForHour" />
            <span asp-validation-for="PriceForHour" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="IsAvailable" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
            <select class="form-control" asp-for="IsAvailable">
                <option value="True">Да</option>
                <option value="False">Не</option>
            </select>
            <span asp-validation-for="IsAvailable" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Image" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
            <input asp-for="Image" class="form-control" placeholder="Image" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-5">
            <textarea cols="10" asp-for="Description" class="form-control" placeholder="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <a asp-action="Details" asp-route-id="@this.Model.Id" class="btn btn-primary">Назад</a>
    <button type="submit" onclick="return EditItem()" class="btn btn-primary">Промени</button>
</form>
