@using ClicksAndDrive.Web.ViewModels.Bicycles
@model IEnumerable<BicycleViewModel>
@{
    ViewData["Title"] = "Велосипеди";
}

<form class="col-md-6" enctype="multipart/form-data">
    <div class="text-center">
        <h1 class="display-4">Велосипеди</h1>
    </div>
    <article class="card-group-item">
        <header class="card-header">
            <h6 class="title">Размер на велосипеда</h6>
        </header>
        @foreach (var size in this.Model.Select(x => x.Size).Distinct().ToArray())
        {
            <div class="filter-content">
                <div class="card-body">
                    <div class="custom-control custom-checkbox">
                        <span class="float-right badge badge-light round">@this.Model.Where(x => x.Size == size).Count()</span>
                        <input type="checkbox" class="custom-control-input" name="size" value="@size" id="Check1">
                        <label class="custom-control-label" for="Check1">@size</label>
                    </div> <!-- form-check.// -->
                </div> <!-- card-body.// -->
            </div>
        }
    </article>
    <article class="card-group-item">
        <header class="card-header">
            <h6 class="title">Стил на колоездене</h6>
        </header>
        @foreach (var type in this.Model.Select(x => x.Type).Distinct().ToArray())
        {
            <div class="filter-content">
                <div class="card-body">
                    <div class="custom-control custom-checkbox">
                        <span class="float-right badge badge-light round">@this.Model.Where(x => x.Type == type).Count()</span>
                        <input type="checkbox" class="custom-control-input" name="type" value="@type" id="Check2">
                        <label class="custom-control-label" for="Check2">@type</label>
                    </div> <!-- form-check.// -->
                </div> <!-- card-body.// -->
            </div>
        }
    </article>
    <button type="submit" asp-action="All" class="btn btn-primary col-md-4">Филтрирай</button>
</form>
@foreach (var bicycle in this.Model)
{
    @if (bicycle.Filters != null && bicycle.Size.ToString() != bicycle.Filters.SizeOfBicycle
    && bicycle.Type.ToString() != bicycle.Filters.TypeOfBicycle) 
    {
        continue;
    }

<div class="card mb-3" style="max-width: 540px;" id="cars">
    <div class="row">
        <div class="col-md-5">
            <img src="..." class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@bicycle.Made</h5>
                <p class="card-text">Price For Hour: @bicycle.PriceForHour.ToString("0.00")€</p>
                <a asp-action="Details" asp-route-id="@bicycle.Id">Детайли</a>
            </div>
        </div>
    </div>
</div>
    }
<tr />

