@model ClicksAndDrive.Data.Models.ElectricScooter
@{
    ViewData["Title"] = "Ел.Тротинеткa: " + Model.Made;
}

<div class="bicycle mb-3">
    <img src="" class="bicycle-img-top" alt="">
    <div class="bicycle-body">
        <h5 class="bicycle-title text-center">@Model.Made</h5>
        <p class="bicycle-text">Пробег: @Model.Mileage км</p>
        <p class="bicycle-text">Максимална мощност: @Model.MaximumSpeed км/ч</p>
        <p class="bicycle-text">Цена на час: @Model.PriceForHour</p>
        <p class="bicycle-text">Описание: @Model.Description</p>
    </div>
    <a asp-action="" asp-route-id="@this.Model.Id" class="btn btn-primary">Наеми</a>
    @if (this.User.IsInRole("Administrator"))
    {
        <a asp-area="Administration" asp-controller="ElectricScooter" asp-action="Edit" asp-route-id="@this.Model.Id" class="btn btn-primary">Редактирай</a>
        <a asp-area="Administration" asp-action="Delete" asp-route-id="@this.Model.Id" onclick="return DeleteItem('електрически скутер')" class="btn btn-danger">Изтрий</a>
    }
</div>
