@using ClicksAndDrive.Common
@using ClicksAndDrive.Data.Models.Enums
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico"> 
</head>
<body>
    <div style="background-color: black; width: 100%; height: 30px;">
        <div style="display: flex; justify-content:space-between">
            <div style="display: flex; margin-left: 30px; margin-top: 4px;">
                <div style="color: white; border-right: 1px solid white; padding-right: 15px;  height: 22px;">
                    <i class="fas fa-phone-square-alt" style="color: white"></i>
                    <span>0888888821</span>
                </div>

                <div style="color: white; border-right: 1px solid white; padding-right: 15px;  height: 22px;  margin-left: 15px;">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Stara planina 9</span>
                </div>

                <div style="color: white; margin-left: 15px;">
                    <i class="far fa-clock"></i>
                    <span>From 9AM to 6PM</span>
                </div>
            </div>

            <div style="display: flex; margin-right: 30px; margin-top: 5px;">
                <a href="https://www.facebook.com/petroslav.gochev" target="_blank"><i class="fab fa-facebook" style="color: white; margin-right: 10px;"></i></a>
                <a href="https://www.facebook.com/petroslav.gochev" target="_blank"><i class="fab fa-instagram" style="color: white"></i></a>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                                <img src="~/images/ClickAndDrive_PNG_Color.png" title="core" alt="" width="150" height="40" />
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-bs-toggle text-dark" href="#" id="navbarDropdown" role="button" data-target="#bikes-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Велосипеди
                            </a>
                            <div id="bikes-dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Bicycle" asp-action="All" asp-route-type="@BicycleType.Mountain">Планински</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Bicycle" asp-action="All" asp-route-type="@BicycleType.Road">Шосейни</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Bicycle" asp-action="All" asp-route-type="@BicycleType.Trekking">Градски</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Bicycle" asp-action="All" asp-route-type="@BicycleType.Electric">Електрически</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-bs-toggle text-dark" href="#" id="navbarDropdown" role="button" data-target="#cars-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Автомобили
                            </a>
                            <div id="cars-dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Car" asp-action="All" asp-route-type="@CarCategory.Sedan">Седан</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Car" asp-action="All" asp-route-type="@CarCategory.Van">Ван</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-bs-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" data-target="#motorcycles-dropdown" aria-haspopup="true" aria-expanded="false">
                                Мотори
                            </a>
                            <div id="motorcycles-dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Motorcycle" asp-action="All" asp-route-type="@MotorcycleType.Scooter">Скутери</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Motorcycle" asp-action="All" asp-route-type="@MotorcycleType.Cross">Кросови</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ElectricScooter" asp-action="All">Електрически скутери</a>
                        </li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-bs-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Добави
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="Bicycle" asp-action="Add">Велосипед</a>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="Car" asp-action="Add">Автомобил</a>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="ElectricScooter" asp-action="Add">Електрически скутер</a>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="Motorcycle" asp-action="Add">Мотор</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-bs-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Поръчки
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="Order" asp-action="Orders" asp-route-type="@StatusType.Wait">Изчакващи</a>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="Order" asp-action="Orders" asp-route-type="@StatusType.Accepted">Одобрени</a>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="Order" asp-action="Orders" asp-route-type="@StatusType.Finished">Завършени</a>
                                    <a class="dropdown-item" asp-area="Administration" asp-controller="Order" asp-action="Orders" asp-route-type="@StatusType.Rejected">Отхвърлени</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/5fab55b25e.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        function DeleteItem(text) {
            if (confirm(`Сигурни ли сте, че искате да изтриете този ${text}?`)) {
                return true;
            }
            return false;
        }
    </script>
    <script type="text/javascript">
        function EditItem() {
            if (confirm(`Сигурни ли сте, че искате да запазите новите промени?`)) {
                return true;
            }
            return false;
        }
    </script>
    <script type="text/javascript">
        function Successfully(text) {
            alert(`Вие успешно добавихте нов ${text}`);
        }
    </script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>