@using ClicksAndDrive.Web.ViewModels.Administration.Orders;
@model IEnumerable<OrdersViewModel>


<div class="table-container">
    <table id="customers">
        <tr>
            <th>#</th>
            <th>Поръчка номер</th>
            <th>Статус</th>
            <th>Потребител</th>
            <th>Детайли</th>
        </tr>

        @{
            int number = 1;
            @foreach (var item in this.Model)
            {

                <tr>
                    <td>@number</td>
                    <td>@item.Id</td>
                    <td>@item.Status.ToString()</td>
                    <td>@item.Email</td>
                    <td>
                        <a asp-area="" asp-controller="Order" asp-action="DetailOrders" asp-route-id="@item.Id">Детайли</a>
                    </td>
                </tr>
                number++;
            }
        }
    </table>
</div>