@using ClicksAndDrive.Web.ViewModels.Administration.Orders;
@model IEnumerable<OrdersViewModel>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            
            <th scope="col">Поръчка номер</th>
            
            <th scope="col">Статус</th>
            
            <th scope="col">Потребител</th>
            
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            int number = 1;
            @foreach (var item in this.Model)
            {

                <tr>
                    <th scope="row">@number</th>
                    <td>@item.Id</td>
                    <td>@item.Status.ToString()</td>
                    <td>@item.Email</td>
                    <td>
                        <a asp-area="" asp-controller="Order" asp-action="DetailOrders" asp-route-id="@item.Id">Детайли</a>
                    </td>
                </tr>
                number++;
            }
        }
    </tbody>
</table>